.main-progress {
    background: #fff;
    position: relative;
}
.main-progress__extender {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 100%;
    height: 100%;
    background: #9bc600;
    transition: .3s;
}
.main-progress__text {
    position: relative;
    width: 100%;
    padding: 15px 10px;
    font-size: 17px;
    text-align: center;
    display: none;
}
.main-progress__text_active {
    display: block;
}
.step {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px auto 30px;
}
.step__text {
    font-size: 14px;
    margin-right: 15px;
}
.step__extender {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    position: relative;
}
.step__extender-item {
    width: 9px;
    height: 9px;
    border: 1px solid #2b3a2b;
    border-radius: 50%;
    background: #FFF;
    margin-right: 15px;
    position: relative;
    z-index: 2;
}
.step__extender-item_active {
    background: #2b3a2b;
}
.step__extender:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #2b3a2b;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.bx-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0;
    touch-action: pan-y;
}
.bx-viewport {
    -webkit-transform: translatez(0);
}
.step-slide {
    padding-bottom: 55px;
}
